body{
	padding: 0%;
	margin: 0%;
	color: black;
	font-size: 15px;

	font-family: "Black Han Sans", sans-serif;
	font-weight: 400;
	font-style: normal;  
	letter-spacing: 0.03em;
	line-height: 1.55em;
}
*{box-sizing: border-box;}
p{
	letter-spacing: 0.03em;
	line-height: 1.55em;
	margin: 0;
}
.container{
	width: 1100px;
	/* border: 1px solid rebeccapurple; */
	margin: 0 auto;
}
a{
	color: black;
	text-decoration: none;
	font-weight: normal;
}
nav{
	display :flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 72px;
	
}
img{
	width: 500px;
	height: 200px;
}
header{
	padding: 0px 80px 50px 80px;
}
.offer{
	margin-top: 70px;

}
.place{
	font-size: 18px;

}

.name{
	letter-spacing: 0.07em;
	font-size: 45px;
	line-height: 63px;
	text-transform: uppercase;
}
.desc{
	font-size: 18px;
}
.btn{
	color: aliceblue;
	background: rgb(16, 16, 165);
    font-size: 18px;
	padding: 18px 30px;
	display: block;
	width: 196px;
	height: 50px;
	margin-bottom: 98px;
}
.btn:hover {
	background: rgb(173, 173, 199);
}
.btn.active {
	background: rgb(204, 30, 30);
}
.intro{
	background: rgb(202, 202, 202);
	padding: 30px;
	width: 600px;
	height: 200px;
}
.artur{
	height: 800px;
	width: 600px;
	margin-left: 200px;
}
.header-content{
	display: flex;
}